/* Navbar.css */

.navbar {
    background-color: #3498db;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link {
    color: #fff;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #59bdff;
    color: #fff;
}

.css-1gh6k7f-MuiBottomNavigationAction-label {
    opacity: 1 !important;
    color: #1976d2 !important;
}

.css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected {
    background-color: #d9d9ff;
}

.selectedNavItem {
    color: #2c3e50;
}

/* Home.css */

.circle {
    position: absolute;
    height: 28rem;
    width: 28rem;
    border-radius: 50%;
    background: linear-gradient(to top, #3b9cfc, rgb(202, 242, 255));
    /* Adjust colors as needed */
    /* transition: all 1.5s ease-in; */
    animation: fadeInAndScaleUp 1s ease-in-out;
}

@keyframes fadeInAndScaleUp {
    from {
        opacity: 0;
        transform: scale(0.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}


.intro {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
    justify-content: space-around;
    border-radius: 2rem;
}

.name {
    font-size: 2rem;
    font-weight: bold;
}

.introText {
    margin-top: 4rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 4rem;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1.3rem;
}

.logoImg {
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
    width: 7.5rem;
    ;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slideIn {
    animation: slideIn 1s ease-in-out;
}

@keyframes leftSlide {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.leftSlide {
    animation: leftSlide 1s ease-in-out;
}